<div class="container">
	<div class="navbar"><div class="navbar-brand">IDEABOX</div></div>

  <div id="new-idea" class="jumbotron">
  <%= text_field_tag :idea_title, nil, placeholder: "Idea Title", class:"form-control" %>
  <%= text_field_tag :idea_body, nil, placeholder: "Idea Body", class: "form-control" %>
  <button class="btn btn-primary", id="create_idea">Create</button>
</div>

	<table class="table table-striped table-hover">
	
	<thead>
	<tr>
		<th width="15%">Title</th><th width="50%">Body</th><th>Quality</th>
		<td>&nbsp;</td><td>&nbsp;</td>
	</tr>
	</thead>
	<tbody class="idea-box">
	</tbody>

	</table>
</div>