<div class="container">
	<div class="well">
		<%= link_to "New Idea", new_idea_path, remote: true, class: "btn btn-primary" %>
	</div>
	<div class="new-idea"></div>

	<div class="idea-box">
		<% @ideas.each do |i| %>
		<%= render i %>
		<% end %>
	</div>
	<div id="idea-modal" class="modal fade"></div>
</div>